.container {
 margin: 25px;
}

#results {
  margin-left: 10vh;
}

#results h5 {
  margin-bottom: -2px !important;
}

#resultCount {
  margin-left: 10vh;
}

.result {
  margin-top: 5px;
  display: block;
}

.ssl {
  height: 25px;
}

a:hover {
  text-decoration: none;
}
