{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="row pb-5 d-flex flex-column align-items-center">
    <img src="{% static 'images/dse-text-400.png' %}" alt="" id="logo">
    <form class="form-inline mt-2 w-100 d-flex justify-content-center">
      <input class="form-control form-control-sm w-75" type="text" placeholder="Search"
             aria-label="Search">
    </form>

  </div>
{% endblock %}
